/* format for bringing in font files. NEED eot, woff woff2 for full browser support */

/* 
@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.eot');
    src: url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
        url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.woff') format('woff'),
        url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
        url('HelveticaNueLTStd/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
    font-weight: 300;
    font-style: normal;
}
*/


.course{
    font-family: 'Montserrat', Arial;
}

.QAMenu{
    font-family: 'Roboto', Arial;
}

.NotePad>.handwriting{
    font-family: 'Caveat', cursive;
}
.Calculator>.calculator-display{
    font-family: "Orbitron";
}
.digital-text{
    font-family: "Orbitron";
}