.App {
  text-align: center;
}


/*
time {
  font-family: Helios Regular;
  font-size: 100px;
}
*/

.App-time {
  font-family: Helios Regular;
  font-size: 150px;
  
}
.App-ampm{
  font-family: Helios Regular;
  font-size: 80px;
 
 
}




